/*--сброс стилей--*/
/*--Убираем внутренние отступы--*/
ul[class],
ol[class] {
    padding: 0;
}

/*--Убираем внешние отступы--*/
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/*--Выставляем основные настройки по-умолчанию для body--*/
body {
    /*  min-height: 100vh;*/
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/*--Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class--*/
ul[class],
ol[class] {
    list-style: none;
}

/*--Элементы a, у которых нет класса, сбрасываем до дефолтных стилей--*/
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/*--Упрощаем работу с --*/
img {
    max-width: 100%;
    display: block;
}

/*--Указываем понятную периодичность в потоке данных у article--*/
article > * + * {
    margin-top: 1em;
}

/*--Наследуем шрифты для инпутов и кнопок--*/
input,
button,
textarea,
select {
    font: inherit;
}

/*--Удаляем все анимации и переходы для людей, которые предпочитай их не использовать--*/
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*--сброс стилей--*/
body {
    font-family: 'Roboto-Regular';
    margin: 0;
    padding: 0;
    position: relative;
    color: #1A1A1A;
}

.textBolt {
    font-weight: bold;
    text-align: center;
    margin: 10px 0 15px;
}

.rangeWrap { /*--запрет выделения текста--*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: 10px auto;
}

.secParam {
    width: 270px;
    border: 2px solid #9f9f9f;
    padding: 5px;
}

.secParam > div {
    padding: 10px;
}

.rangeWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 3px;
}

.rangeWrap > p {
    margin-right: 5px;
}

.secCalculation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.wrapRoom {
    width: 803px;
    box-sizing: border-box;
    overflow: hidden;
}

#fieldRoom {
    height: 400px;
    background: #9f9f9f;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #9f9f9f;
}

.lightingWrap {
    position: relative;
}

.boxFront {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 24px;
    height: 24px;
    background: #FF4518;
    z-index: 1200;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.boxWhite,
.boxBlue,
.boxLightBlue,
.boxGreen,
.boxYellow,
.boxOrange,
.boxRed {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 24px;
    height: 24px;
    background: red;
    border-radius: 50%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.choiceLighting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 800px;
}

.selectLighting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    padding: 15px;
    border: 1px solid #9f9f9f;
}

#selectLightingName {
    font-weight: bold;
    padding: 10px;
    width: 400px;
}

.infoLightingMain {
    width: 800px;
    margin-top: 10px;
}

/*--оформление range--*/
.decorRange {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 2px;
    border: 1px solid #4c4c4c;
    background: rgba(53, 49, 54, 0.16);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
}

.decorRange:hover {
    opacity: 1;
    box-shadow: 0 5px 15px 0 rgba(72, 77, 74, 0.3);
}

.decorRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 26px;
    border-radius: 3px;
    background: #FF4518;
    cursor: pointer;
}

.decorRange::-webkit-slider-thumb:hover {
    box-shadow: 0 0 4px 0 #FF4518;
}

/*----оформление range----*/

/*--оформление select--*/
.decorSelect {
    position: relative;
    left: 3px;
    margin: 5px 0 25px 0;
    width: 100%;
    height: 25px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #4c4c4c;
    border-radius: 3px;
}

option:hover {
    background: orange;
    color: #fff;
}

.decorSelect:focus {
    outline: none;
}

.item_text {
    flex-basis: 100%;
    height: 0;
    line-height: 1.4;
    margin-bottom: 15px;
}

.hideSettingsBtn {
    display: none;
}

.showSettingsBtn {
    display: initial;
    text-align: center;
    cursor: pointer;
    color: #FF4518;
    font-size: 14px;
    margin-left: 60px;
    margin-bottom: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.showSettingsBtn:hover {
    color: #a0a0a0;
    font-size: 14px;
}

.showSettingsBtn:active {
    font-size: 15px;
}


/*--grid стили--*/
.grid {
    display: grid;
    grid-template-columns: repeat(32, 24px);
    grid-template-rows: repeat(16, 24px);
    grid-gap: 1px;
}

/*--grid стили--*/
.grid__item {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*----grid стили----*/


/*--стили popup выора типа светильника--*/
/*--scroll--*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #9f9f9f;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(53, 49, 54, 0.52);
    border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

/*--scroll--*/
/* style popup */
.b-container {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    padding: 10px;
}

.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 2000;
    -webkit-animation-name: animOpacity1;
    -webkit-animation-duration: 0.3s;
    animation-name: animOpacity1;
    animation-duration: 0.3s;
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.b-popup .b-popup-content {
    position: absolute;
    left: calc(50% - 525px);
    top: calc(50% - 300px);
    width: 1050px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

.b-popup-content {
    -webkit-animation-name: animatetop1;
    -webkit-animation-duration: 0.3s;
    animation-name: animatetop;
    animation-duration: 0.3s;
}

@-webkit-keyframes animatetop1 {
    from {
        top: -1500px;
        opacity: 0
    }

}

@-webkit-keyframes animOpacity1 {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }

}

/*--оформление фото светильников--*/
.containerCatalogLt {
    width: 1050px;
    min-width: 750px;
    height: 600px;
    margin: 10px auto;
    overflow: auto;
}

.wrapper {
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 320px;
    height: 400px;
}

.buttons div {
    border: 2px solid #9f9f9f;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.9;
}

.buttons div:hover {
    background: white;
    color: black;
    border: 2px solid #FF4518;
    box-shadow: 0 15px 20px 0 rgba(72, 77, 74, 0.3);
}

.buttons img {
    width: 115px;
    padding: 0 10px;
    height: 100px;
    opacity: 0.9;
}

.buttons img:hover {
    opacity: 1;
}

.buttons label {
    text-align: center;
    display: block;
    width: 135px;
    height: 135px;
    cursor: pointer;
    overflow: hidden;
}

/*--переключение class border--*/
.buttons div.active {
    border: 2px solid #FF4518;
    opacity: 1;
    box-shadow: 2px 2px 5px 2px #a0a0a0;
    background: #e1e1e1;
}

/*--переключение class border--*/

.windows {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    max-height: 600px;
    min-height: 300px
}

.mod {
    position: relative;
    top: 1px;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 120px;
    height: 50px;
    border-top: 3px solid #FF4518;
    border-left: 1px solid #a0a0a0;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    border-bottom-color: white;
    box-sizing: border-box;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.description {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40px;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrap-catalog {
    border: 1px solid #a0a0a0;
}

/*--скрываем переключатели radio и окна контента--*/
.window, .hidden {
    display: none;
}

.window p {
    padding: 10px;
}

.active-name-lt {
    border: 2px solid #FF4518;
}

/*--отобразить контент, связанный с вабранной радиокнопкой (input type="radio")--*/
#tab-btn-1:checked ~ .windows #w1,
#tab-btn-2:checked ~ .windows #w2,
#tab-btn-3:checked ~ .windows #w3,
#tab-btn-4:checked ~ .windows #w4,
#tab-btn-5:checked ~ .windows #w5 {
    display: block;
}

/*--связываение кнопки и radio--*/
#tab-btn-1:checked ~ .buttons [for="tab-btn-1"],
#tab-btn-2:checked ~ .buttons [for="tab-btn-2"],
#tab-btn-3:checked ~ .buttons [for="tab-btn-3"],
#tab-btn-4:checked ~ .buttons [for="tab-btn-4"],
#tab-btn-5:checked ~ .buttons [for="tab-btn-5"] {
}

.sep-div {
    width: 25px;
}

/*--оформление--*/
#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9,
#btn10,
#btn11,
#btn12,
#btn13,
#btn14 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
}

#w1 div:nth-child(2n+1),
#w2 div:nth-child(2n+1),
#w3 div:nth-child(2n+1),
#w4 div:nth-child(2n+1),
#w5 div:nth-child(2n+1) {
    background: rgba(235, 235, 235, 0.91);
}

#btn1:hover,
#btn2:hover,
#btn3:hover,
#btn4:hover,
#btn5:hover,
#btn6:hover,
#btn7:hover,
#btn8:hover,
#btn9:hover,
#btn10:hover,
#btn11:hover,
#btn12:hover,
#btn13:hover,
#btn14:hover {
    border: 2px solid #FF4518;
}

#btn1:active,
#btn2:active,
#btn3:active,
#btn4:active,
#btn5:active,
#btn6:active,
#btn7:active,
#btn8:active,
#btn9:active,
#btn10:active,
#btn11:active,
#btn12:active,
#btn13:active,
#btn14:active {
    background: cornflowerblue;
}

.border-content {
    width: 3px;
    margin: 10px 0 0 0;
    background: #aaaaaa;
}

.btn-col1, .btn-col2, .btn-col4 {
    width: 70px;
}

.btn-col3 {
    width: 120px;
}

.btn-col5 {
    word-wrap: break-word;
    width: 130px;
}

.btn-col1, .btn-col2, .btn-col3, .btn-col4, .btn-col5 {

}

.mod-btn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-catalog {
    position: relative;
    text-align: center;
    width: 120px;
    height: 40px;
    padding: 5px;
    color: white;
    box-sizing: border-box;
    border: 2px solid #FF4518;
    border-radius: 3px;
    background: #FF4518;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-catalog:hover {
    background: white;
    color: black;
    border: 2px solid #FF4518;
    box-shadow: 0 15px 20px 0 rgba(72, 77, 74, 0.3);
}

.btn-catalog-link {
    text-decoration: none;
}

#popup1 {
    display: none;
}

#btn-catalog-main {
    text-align: center;
    width: 120px;
    height: 40px;
    padding: 5px;
    color: white;
    box-sizing: border-box;
    border: 2px solid #FF4518;
    border-radius: 3px;
    background: #FF4518;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

#btn-catalog-main:hover {
    background: white;
    color: black;
    border: 2px solid #FF4518;
    box-shadow: 0 15px 20px 0 rgba(72, 77, 74, 0.3);
}

.btn-catalog-main {
    text-align: center;
    width: 120px;
    height: 40px;
    padding: 5px;
    color: white;
    box-sizing: border-box;
    border: 2px solid #FF4518;
    border-radius: 3px;
    background: #FF4518;
    cursor: pointer;
    margin: 0 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

.btn-catalog-main:hover {
    background: white;
    color: black;
    border: 2px solid #FF4518;
    box-shadow: 0 15px 20px 0 rgba(72, 77, 74, 0.3);
}

.btn-catalog-main:focus {
    outline: none;
}

.btn-calculation-main {
    margin: calc(25% - 20px) calc(50% - 175px);
    text-align: center;
    width: 350px;
    height: 40px;
    padding: 5px;
    color: white;
    line-height: 25px;
    box-sizing: border-box;
    border: 2px solid #FF4518;
    border-radius: 3px;
    background: #FF4518;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

.btn-calculation-main:hover {
    background: white;
    color: black;
    border: 2px solid #FF4518;
    box-shadow: 0 15px 20px 0 rgba(72, 77, 74, 0.3);
}

.btn-calculation-main:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

/*--KKC--*/
.kkc_catalog_img {
    width: 400px;
    height: 400px;
    margin: 15px auto 0;
    background: url("../img/001_PRSR_ECO_LED/KKC_001.jpg");
    background-position: center;
    background-size: cover;
}

/*--добавление картинки ККС через js--*/
.lt001 {
    width: 400px;
    height: 400px;
    margin: 15px auto 0;
    background: url("../img/001_PRSR_ECO_LED/KKC_001.jpg");
    background-position: center;
    background-size: cover;
}

.lt002 {
    width: 400px;
    height: 400px;
    margin: 15px auto 0;
    background: url("../img/002_AOT.OPL_ECO_LED/KKC_002.jpg");
    background-position: center;
    background-size: cover;
}

.lt003 {
    width: 400px;
    height: 400px;
    margin: 15px auto 0;
    background: url("../img/003_PTF_UNI_LED/KKC_003.jpg");
    background-position: center;
    background-size: cover;
}

.lt004 {
    width: 400px;
    height: 400px;
    margin: 15px auto 0;
    background: url("../img/004_SLIM_LED/KKC_004.jpg");
    background-position: center;
    background-size: cover;
}

.lt005 {
    width: 400px;
    height: 400px;
    margin: 15px auto 0;
    background: url("../img/005_PTFR_UNI_LED/KKC_005.jpg");
    background-position: center;
    background-size: cover;
}

/*----стили popup выора типа светильника----*/

/*--tabs выбранного светильника с переключением между кривой ККС и характеристиками--*/
ul {
    list-style: none;
}

p {
    text-decoration: none;
    color: black;
}

.tabs-container {
}

.tabs {
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabs li {
    display: block;
    position: relative;
    border-radius: 2px 2px 0 0;
    background: #EDEDED;
    margin-right: 5px;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
    top: 2px;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 150px;
    height: 50px;
    border-top: 1px solid #9f9f9f;
    border-left: 1px solid #9f9f9f;
    border-right: 1px solid #9f9f9f;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
}

.tabs li.active,
.tabs li:hover {
    opacity: 1;
    padding: 8px 0 12px 0;
    z-index: 20;
    border-top: 3px solid #FF4518;
    border-left: 1px solid #9f9f9f;
    border-right: 1px solid #9f9f9f;
    border-bottom: 1px solid #9f9f9f;
    border-bottom-color: white;
}

.tabs-content {
    position: relative;
    z-index: 2;
    border: 1px solid #9f9f9f;
    background: white;
}

.tabs-panel {
    display: none;
}

#tabsLightingKKC {
    width: 400px;
    margin: 15px auto 0;
}

.tabs-panel.active {
    display: block;
}

.tabs-panel p + div {
    margin-top: 10px;
}

.tabs-info-lighting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px 5px 30px;
}

.tabs-info-img {
    width: 350px;
}

.tabs-info-lighting ul li {
    margin: 8px;
}

.tabs-info-lighting a {
    color: #FF4518;
    font-size: 14px;
}

.tabs-info-lighting a:hover {
    color: #a0a0a0;
    font-size: 14px;
}

.more-btn {
    text-align: center;
    cursor: pointer;
    color: #FF4518;
    font-size: 14px;
    padding: 0 calc(50% - 40px);
    margin-bottom: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.reg {
    margin: 25px;
}

.reg a {
    text-decoration: none;
}

.more-btn:hover {
    color: #a0a0a0;
    font-size: 14px;
}

.more-btn:active {
    color: black;
}

/*--оформление полного описания светилька--*/
.more-description-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    margin-top: 30px;
}

.more-description-wrap p {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.slider {
    margin: 0 auto;
    width: 700px;
    height: 500px;
}

.slider img {
    margin: 0 auto;
    vertical-align: middle;

}

.tabs-description {
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabs-description li {
    display: block;
    position: relative;
    border-radius: 2px 2px 0 0;
    background: #EDEDED;
    margin-right: 5px;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
    top: 1px;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 150px;
    height: 50px;
    border-top: 1px solid #9f9f9f;
    border-left: 1px solid #9f9f9f;
    border-right: 1px solid #9f9f9f;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
}

.tabs-description li.active,
.tabs-description li:hover {
    opacity: 1;
    padding: 8px 0 12px 0;
    z-index: 20;
    border-top: 3px solid #FF4518;
    border-left: 1px solid #9f9f9f;
    border-right: 1px solid #9f9f9f;
    border-bottom: 1px solid #9f9f9f;
    border-bottom-color: white;
}

.tabs-panel-description {
    display: none;
}

.tabs-panel-description.active {
    display: block;
}

.tabs-panel-description p + div {
    margin-top: 10px;
}

.text-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 10px;
    width: 100%;
    box-sizing: border-box;
}

.text-description div {
    width: 350px;
}

.column-1 div {
    padding-bottom: 25px;
}

.column-2-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-2-wrap div:nth-child(odd) {
    width: 200px;
}

.column-2-wrap div:nth-child(even) {
    width: 130px;
    text-align: right;
}

.column-2-wrap div {
    padding: 10px 5px;
    border-bottom: 1px solid #9f9f9f;
}

#pic {
    padding-top: 40px;
    display: inline-flex;
    border-bottom: 0 solid white;
}

#pic img {
    width: 50px;
    padding-right: 10px;
    cursor: help;
}

.download-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 50px;
}

.download-wrap img {
    margin: 10px auto;
    width: 60px;
    cursor: pointer;
}

.download-wrap img:hover {
    margin: 7px auto;
    width: 63px;
    opacity: 0.7;
}

.hide {
    display: none !important;
}

/*--вертикальный slick Slider--*/
.slider-fixed {
    position: sticky;
    top: 20px;
}

.owl-carousel {
    width: 150px;
    height: 560px;
    margin: 70px auto;
    cursor: pointer;
    user-select: none;
}

.owl-carousel img:focus {
    outline: none;
}

.owl-carousel img:hover {
    opacity: 0.5;
}

.owl-carousel:before {
    content: "";
    display: block;
    height: 50px;
    position: relative;
    top: 40px;
    z-index: 1000;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
}

.owl-carousel:after {
    content: "";
    display: block;
    height: 50px;
    position: relative;
    top: -45px;
    z-index: 1000;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
}

/*----вертикальный slick Slider----*/

/*--якорь для плавного перемещения экрана к основным настройкам--*/
.acr {
    position: relative;
    top: 350px;
    background-color: red;
}

/*----якорь для плавного перемещения экрана к основным настройкам----*/

/*--цветовая шкала--*/
.box-color-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
}

.color-0,
.color-100,
.color-200,
.color-300,
.color-400,
.color-500,
.color-600,
.color-700 {
    width: 70px;
    height: 15px;
}

.color-text {
    text-align: center;
}

.color-0 {
    background: #000333;
}

.color-100 {
    background: #000464;
}

.color-200 {
    background: #0018FF;
}

.color-300 {
    background: #006400;
}

.color-400 {
    background: #32C800;
}

.color-500 {
    background: #64FD01;
}

.color-600 {
    background: #FFFE00;
}

.color-700 {
    background: #FE121A;
}

/*----цветовая шкала----*/

/*----результаты расчета----*/
.results-box {
    width: 800px;
    height: 450px;
    margin: 15px auto;
    border: 1px solid #9f9f9f;
}

.results-wrap {
    width: 450px;
    height: 200px;
    margin: 0 auto;
}

.results-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px auto;
}

.results-wrap div {
    height: 30px;
    line-height: 30px;
}

.results-wrap div:nth-child(odd) {
    width: 255px;
    padding: 5px 5px 5px 20px;

}

.results-wrap div:nth-child(even) {
    width: 160px;
    text-align: center;
    padding: 5px 5px;

}

.results-wrap div {
    border-bottom: 1px solid #9f9f9f;
}

.results-box-title {
    font-weight: bold;
    text-align: center;
}

.results-title {
    font-weight: bold;
    font-size: 16px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #9f9f9f;
}

.results-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
}

.results-btn-wrap {
    margin: 40px auto 10px;
    width: 350px;
}

.btn-catalog-main {
    text-align: center;
    width: 120px;
    height: 40px;
    padding: 5px;
    color: white;
    box-sizing: border-box;
    border: 2px solid #FF4518;
    border-radius: 3px;
    background: #FF4518;
    cursor: pointer;
    margin: 0 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

.btn-catalog-main:hover {
    background: white;
    color: black;
    border: 2px solid #FF4518;
    box-shadow: 0 15px 20px 0 rgba(72, 77, 74, 0.3);
}

.btn-catalog-main:focus {
    outline: none;
}

.btn-new-calculation {
    text-align: center;
    width: 340px;
    height: 40px;
    padding: 5px;
    color: white;
    box-sizing: border-box;
    border: 2px solid #FF4518;
    border-radius: 3px;
    background: #FF4518;
    cursor: pointer;
    margin: 0 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

.btn-new-calculation:hover {
    background: white;
    color: black;
    border: 2px solid #FF4518;
    box-shadow: 0 15px 20px 0 rgba(72, 77, 74, 0.3);

}

.btn-new-calculation:focus {
    outline: none;
}

/*--блок результатов--*/

/*--форма заказа светильников popup--*/
.win-order {
    width: 400px;
    height: 550px;
    border: 1px solid #9f9f9f;
    margin: 0 auto;
    border-radius: 3px;
}

.box-order-form {
    width: 100%;
    height: 300px;
}

.box-order-img {
    width: 100%;
    height: 250px;
    padding: 20px 100px;
    box-sizing: border-box;
}

.box-order-img img {
    width: 200px;
}

.box-order-add {
    width: 100px;
    height: 190px;
    padding: 80px 0;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

.box-order-name-lamp {
    font-weight: bold;
    text-align: center;
}

.box-order-form {
    padding: 40px 70px;
    box-sizing: border-box;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    background-color: white;
    height: 35px;
    width: 250px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    border: 1px solid #9f9f9f;
    border-radius: 3px;
    color: black;
    outline: none;
    padding: 0 0 0 3px;
    margin-bottom: 20px;
}

.box-order-form input:hover {
    border: 1px solid orangered;
    box-shadow: 0 15px 20px 0 rgba(72, 77, 74, 0.3);
}

.box-order-form input:focus {
    border: 1px solid orangered;
    box-shadow: 0 15px 20px 0 rgba(72, 77, 74, 0.3);
    background-color: rgba(128, 128, 128, 0.1);
    transition: all 0.2s;
}

input::-webkit-input-placeholder {
    text-indent: 0;
    transition: text-indent 0.3s ease;
}

input::-moz-placeholder {
    text-indent: 0;
    transition: text-indent 0.3s ease;
}

input:-moz-placeholder {
    text-indent: 0;
    transition: text-indent 0.3s ease;
}

input:-ms-input-placeholder {
    text-indent: 0;
    transition: text-indent 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

input:focus::-moz-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

input:focus:-moz-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

input:focus:-ms-input-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}


#font-btn {
    text-align: center;
    width: 255px;
    height: 40px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 25px;
    border: 2px solid #FF4518;
    border-radius: 3px;
    background: #FF4518;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#font-btn:hover {
    background: white;
    color: black;
    border: 2px solid #FF4518;
    box-shadow: 0 15px 20px 0 rgba(72, 77, 74, 0.3);
}

.font-btn {
    text-align: center;
    width: 255px;
    height: 30px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 2px solid #FF4518;
    border-radius: 3px;
    background: #FF4518;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.font-btn:hover {
    background: white;
    color: black;
    border: 2px solid #FF4518;
    box-shadow: 0 15px 20px 0 rgba(72, 77, 74, 0.3);
}

.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 2000;

    -webkit-animation-name: animOpacity;
    -webkit-animation-duration: 0.3s;
    animation-name: animOpacity;
    animation-duration: 0.3s;
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.b-popup .win-order {
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 300px);
    width: 400px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

.win-order {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.3s;
    animation-name: animatetop;
    animation-duration: 0.3s;
}

@-webkit-keyframes animatetop {
    from {
        top: -1500px;
        opacity: 0
    }

}

@-webkit-keyframes animOpacity {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }

}

#popup2 {
    display: none;
}


/*--popup3--*/
.b-popup .win-order-ok {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 20px);
    width: 200px;
    height: 40px;
    padding: 5px 20px 10px;
    background-color: orangered;
    box-shadow: 0 0 10px #000;
    text-transform: uppercase;
    text-align: center;
}

.win-order-ok {
    -webkit-animation-name: animatetop2;
    -webkit-animation-duration: 0.3s;
    animation-name: animatetop2;
    animation-duration: 0.3s;
}

.win-order-ok p {
    color: white;
}


@-webkit-keyframes animatetop2 {
    from {
        top: -100px;
        opacity: 0
    }
    to {
        top: calc(50% - 20px);
    }
}

@-webkit-keyframes animOpacity2 {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#popup3 {
    display: none;
}

/*----форма заказа светильников popup----*/

