/* -- сброс стилей -- */

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* -- сброс стилей -- */

/*body {
    margin: 100px 20%;
    font-family: "Roboto";
}*/
.rangeWrap { /*--запрет выделения текста--*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: 10px auto;
}

.secParam {
    width: 270px;
    border: 2px solid #9f9f9f;
    padding: 5px;
}

.secParam > div {
    padding: 10px;
}

.rangeWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 3px;
}

.rangeWrap > p {
    margin-right: 5px;
}

.secCalculation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.wrapRoom {
    width: 803px;
    box-sizing: border-box;
    overflow: hidden;
}

#fieldRoom {
    height: 400px;
    background: #9f9f9f;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #9f9f9f;
}

/*.wrapBox div {
    box-sizing: border-box;
}*/

/*.boxField {
    width: 39px;
    height: 39px;
    box-sizing: border-box;
    border: 1px solid rgb(92, 92, 92);
    overflow: hidden;
}*/
.lightingWrap{
    position: relative;
}
.boxFront {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 24px;
    height: 24px;
    background: orangered;
    z-index: 1200;

}

.box {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 24px;
    height: 24px;
    background: red;
    border-radius: 50%;
}

.choiceLighting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    width: 800px;
}
.selectLighting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 550px;
    height: 40px;
    padding: 15px;
    border: 1px solid #9f9f9f;
}
#selectLightingName {
    padding: 10px;
}

.clickB {
    width: 100px;
    height: 20px;
    border: 1px solid black;
}

.calculation {
    margin: 15px 15px 5px;
}

.infoLightingMain {
    margin-top: 10px;
    height: 300px;
    border: 1px solid blue;
}

/*--оформление range--*/
.decorRange {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 2px;
    border: 1px solid #4c4c4c;
    background: rgba(53, 49, 54, 0.16);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
}

.decorRange:hover {
    opacity: 1;
}

.decorRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 26px;
    border-radius: 3px;
    background: orangered;
    cursor: pointer;
}

.decorRange::-webkit-slider-thumb:hover {
    box-shadow: 0 0 4px 0 orangered;
}

/*----оформление range----*/
/*--grid стили--*/
.grid {
    display: grid;
    grid-template-columns: repeat(32, 24px);
    grid-template-rows: repeat(16, 24px);
    grid-gap: 1px;
}
/* styles just for demo */
.grid__item {
    background-color: white;
    color: black;
    /* styles for centering text */
    display: flex;
    align-items: center;
    justify-content: center;
}
/*----grid стили----*/






/*--стили popup выора типа светильника--*/
/*--scroll--*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: silver;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(53, 49, 54, 0.52);
    border-radius: 9em;
    /* box-shadow: inset 1px 1px 10px #f3faf7;*/
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

/*--scroll--*/
/* style popup */
.b-container {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    padding: 10px;
}

.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 2000;
}

.b-popup .b-popup-content {
    position: absolute;
    left: calc(50% - 450px);
    top: calc(50% - 275px);
    /*margin: 10% auto 0 auto;*/
    width: 900px;
    /* height: 500px;*/
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

/*style img lighting */
.containerCatalogLt {
    width: 900px;
    min-width: 750px;
    height: 500px;
    margin: 10px auto;
    overflow: auto;
}

.wrapper {
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 280px;
    height: 400px;
}

.buttons div {
    border: 2px solid silver;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.9;
}

.buttons div:hover {
    border: 2px solid orangered;
    opacity: 1;
    box-shadow: 2px 2px 5px 2px #a0a0a0;
}

.buttons img:hover ~ .button-name {
    border-top: 2px solid orangered;
    background: orangered;
}

.buttons img {
    width: 85px;
    padding: 0 15px;
    height: 75px;
    opacity: 0.9;
}

.buttons img:hover {
    opacity: 1;
}

.buttons label {
    text-align: center;
    display: block;
    width: 115px;
    height: 115px;
    cursor: pointer;
    overflow: hidden;
}

.button-name {
    height: 40px;
    border-top: 2px solid silver;
    text-align: center;
    padding: 5px;
}

.button-name:hover {
    border-top: 2px solid orangered;
    background: orangered;
}

/* переключение class border */

.buttons div.active {
    border: 2px solid orangered;
    opacity: 1;
    box-shadow: 2px 2px 5px 2px #a0a0a0;
}

.active-name {
    border-top: 2px solid orangered;
    background: orangered;
}

/* переключение class border */

.windows {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    /* height: 300px;*/
    max-height: 600px;
    min-height: 300px
}

.mod {
    position: relative;
    top: 1px;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 120px;
    height: 50px;
    border-top: 3px solid orangered;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-color: white;
    box-sizing: border-box;
    font-weight: bold;
}

.scroll {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40px;
    font-weight: bold;
}

.wrap-catalog {
    /*  height: 210px;*/
    border: 1px solid black;
}

/* скрываем переключатели radio и окна контента */
.window, .hidden {
    display: none;
}

.window p {
    padding: 10px;
}

.active-name-lt {
    border: 2px solid orangered;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked ~ .windows #w1,
#tab-btn-2:checked ~ .windows #w2,
#tab-btn-3:checked ~ .windows #w3,
#tab-btn-4:checked ~ .windows #w4,
#tab-btn-5:checked ~ .windows #w5 {
    display: block;
}

/* связываение кнопки и radio */
#tab-btn-1:checked ~ .buttons [for="tab-btn-1"],
#tab-btn-2:checked ~ .buttons [for="tab-btn-2"],
#tab-btn-3:checked ~ .buttons [for="tab-btn-3"],
#tab-btn-4:checked ~ .buttons [for="tab-btn-4"],
#tab-btn-5:checked ~ .buttons [for="tab-btn-5"] {
    /*  background-color: rgba(169, 168, 192, 0.64);*/
}

.sep-div {
    width: 25px;
}

/*--оформление--*/
#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9,
#btn10,
#btn11,
#btn12,
#btn13,
#btn14 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
}

#w1 div:nth-child(2n+1),
#w2 div:nth-child(2n+1),
#w3 div:nth-child(2n+1),
#w4 div:nth-child(2n+1),
#w5 div:nth-child(2n+1) {
    background: rgba(235, 235, 235, 0.91);
}

#btn1:hover,
#btn2:hover,
#btn3:hover,
#btn4:hover,
#btn5:hover,
#btn6:hover,
#btn7:hover,
#btn8:hover,
#btn9:hover,
#btn10:hover,
#btn11:hover,
#btn12:hover,
#btn13:hover,
#btn14:hover {

    border: 2px solid orangered;
}

#btn1:active,
#btn2:active,
#btn3:active,
#btn4:active,
#btn5:active,
#btn6:active,
#btn7:active,
#btn8:active,
#btn9:active,
#btn10:active,
#btn11:active,
#btn12:active,
#btn13:active,
#btn14:active {
    background: cornflowerblue;
}

.border-content {
    width: 3px;
    /*  height: 395px;*/
    margin: 10px 0 0 0;
    background: #aaaaaa;
}

.btn-col1, .btn-col2, .btn-col4 {
    width: 70px;
}

.btn-col3 {
    width: 120px;
}

.btn-col5 {
    word-wrap: break-word;
    width: 130px;
}

.btn-col1, .btn-col2, .btn-col3, .btn-col4, .btn-col5 {

}

.mod-btn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-catalog {
    position: relative;
    text-align: center;
    width: 120px;
    height: 40px;
    padding: 5px;
    color: white;
    box-sizing: border-box;
    border: 2px solid orangered;
    border-radius: 3px;
    background: orangered;
}

.btn-catalog:hover {
    background: white;
    color: black;
}

.btn-catalog-link {
    text-decoration: none;
}

.btn-catalog-main {
    text-align: center;
    width: 120px;
    height: 40px;
    padding: 5px;
    color: white;
    box-sizing: border-box;
    border: 2px solid orangered;
    border-radius: 3px;
    background: orangered;
}

.btn-catalog-main:hover {
    background: white;
    color: black;
}
/*--KKC--*/
.kkc_catalog_img {
    width: 400px;
    height: 400px;
    margin: 15px auto 0;
    background: url("../img/001_PRSR_ECO_LED/KKC_001.jpg");
    background-position: center;
    background-size: cover;
}

/*--добавление картинки ККС через js--*/
.lt001 {
    width: 400px;
    height: 400px;
    margin: 15px auto 0;
    background: url("../img/001_PRSR_ECO_LED/KKC_001.jpg");
    background-position: center;
    background-size: cover;
}

.lt002 {
    width: 400px;
    height: 400px;
    margin: 15px auto 0;
    background: url("../img/002_AOT.OPL_ECO_LED/KKC_002.jpg");
    background-position: center;
    background-size: cover;
}

.lt003 {
    width: 400px;
    height: 400px;
    margin: 15px auto 0;
    background: url("../img/003_PTF_UNI_LED/KKC_003.jpg");
    background-position: center;
    background-size: cover;
}

.lt004 {
    width: 400px;
    height: 400px;
    margin: 15px auto 0;
    background: url("../img/004_SLIM_LED/KKC_004.jpg");
    background-position: center;
    background-size: cover;
}

.lt005 {
    width: 400px;
    height: 400px;
    margin: 15px auto 0;
    background: url("../img/005_PTFR_UNI_LED/KKC_005.jpg");
    background-position: center;
    background-size: cover;
}
/*----стили popup выора типа светильника----*/

